<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Management</title>

    <!-- Link CSS -->
    <style>
    
    </style>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/record">Student</a></li>
            
            
        </ul>
    </nav>

    <!-- Home Content -->
    <div class="content">
        <h1>Welcome to Class Management System</h1>
        <h5>Sohail </h5>
        <p>This is the homepage of our application.</p>
    </div>

</body>
</html>
